@import "variables";
@import "mixins";

.btn {
	display: inline-block;
    text-align: center;
    padding: 0.7rem 1.2rem;
	background-color: transparent;
	color: $white;
	border: 2px solid;
	border-color: $red;
	-webkit-border-radius: 30px;
	        border-radius: 30px;
	font-size: 1.2em;
	text-transform: none;
	text-decoration: none;
	@include tr(0.5s);
	&:hover {
		background-color: $red;
		color: $white;
		@include tr(0.5s);
	}
}
.btn1 {
	display: inline-block;
    text-align: left;
    padding: 0.5rem;
	background-color: transparent;
	color: $red;
	border: 3px solid;
	border-color: $red;
	-webkit-border-radius: 8px;
	        border-radius: 8px;
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	width: 50%;
	@include tr(0.5s);
	&:hover {
		background-color: $red;
		color: $white;
		@include tr(0.5s);
	}
}

.btn-preorder {
	background: $red;
	padding: 0.4rem 1.5rem;
	letter-spacing: 2px;
	
	&:hover {
		background: darken($red, 15);
	}
}

.btn-watch {
	background: transparent;
	border-color: $white;
	padding: 0.4rem 3.2rem 0.4rem 1.5rem;
	letter-spacing: 2px;
	
	&:after {
		content: "";
		top: -2px;
		right: -2px;
		background: url(../img/arrow-right.svg) center no-repeat;
		@include bgs(25%);
		position: absolute;
		width: 40px;
		height: 40px;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		border: 2px solid $white;
		display: inline-block;
	}
	
	&:hover {
		background: $white;
		color: $red;
	}
}

.btn-select {
	-webkit-border-radius: 6px;
	        border-radius: 6px;
}