@-webkit-keyframes circleGlow {
	0%, 100%  { 
		-webkit-box-shadow: 0px 0px 2px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 2px 0px rgba(255,255,255,1);
	box-shadow: 0px 0px 2px 0px rgba(255,255,255,1);
	}
	50%   { 
	-webkit-box-shadow: 0px 0px 40px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 40px 0px rgba(255,255,255,1);
	box-shadow: 0px 0px 40px 0px rgba(255,255,255,1);
	}

}
@-moz-keyframes circleGlow {
	0%, 100%  { 
	-webkit-box-shadow: 0px 0px 2px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 2px 0px rgba(255,255,255,1);
	box-shadow: 0px 0px 2px 0px rgba(255,255,255,1);
	}
	50%   { 
	-webkit-box-shadow: 0px 0px 40px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 40px 0px rgba(255,255,255,1);
	box-shadow: 0px 0px 40px 0px rgba(255,255,255,1);
	}

}
@-o-keyframes circleGlow {
	0%, 100%  { 
		-webkit-box-shadow: 0px 0px 2px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 2px 0px rgba(255,255,255,1);
	box-shadow: 0px 0px 2px 0px rgba(255,255,255,1);
	}
	50%   { 
	-webkit-box-shadow: 0px 0px 40px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 40px 0px rgba(255,255,255,1);
	box-shadow: 0px 0px 40px 0px rgba(255,255,255,1);
	}

}
@keyframes circleGlow {
	0%, 100%  { 
		-webkit-box-shadow: 0px 0px 2px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 2px 0px rgba(255,255,255,1);
	box-shadow: 0px 0px 2px 0px rgba(255,255,255,1);
	}
	50%   { 
  	-webkit-box-shadow: 0px 0px 40px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 40px 0px rgba(255,255,255,1);
	box-shadow: 0px 0px 40px 0px rgba(255,255,255,1);
	}

}