// Color Palette
$white: #fff;
$black: #070705;
$red: #eb0606;
$gray: #484747;

// Media queries
$phone: (max-width: 480px);
$tablet: (max-width: 1020px);
$desktop: (min-width: 1500px);
$large: (min-width: 1920px);